<div class="w3-animate-bottom">
<div class="w3-top w3-padding w3-white">
  <div class="w3-bar w3-border w3-round-large">
    <div class="text-place w3-bar-item" (click)="Back()"><i class="fa fa-arrow-left"></i></div>
    <input type="text" class="text-place w3-bar-item w3-input" placeholder="Pencarian" />
    <div class="w3-bar-item w3-right"> <i class="fa fa-search"></i></div>
  </div>
</div>

<p>&nbsp;</p>
<div class="w3-container">
  <div class="w3-card w3-round-large">
    <img class="" src="https://disituapi.azureedge.net/BANNER/HOMEMASURANSI/home-asuransi-mobil-promo-mar-m.png" style="width:100%">
    <div class="w3-container">
      <h1>Title Promo</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae voluptatum numquam in, quos deleniti excepturi, est vero vel voluptatem ullam tempora sapiente, ipsam quo non ratione magni eligendi quasi sint!
    </div>
  </div>
  <br>
  <div class="w3-card w3-round-large">
    <img class="" src="https://disituapi.azureedge.net/BANNER/HOMEMASURANSI/home-asuransi-mobil-promo-mar-m.png" style="width:100%">
    <div class="w3-container">
      <h1>Title Promo</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae voluptatum numquam in, quos deleniti excepturi, est vero vel voluptatem ullam tempora sapiente, ipsam quo non ratione magni eligendi quasi sint!
    </div>
  </div>


</div>
</div>
<p>&nbsp;</p>
