<div class="w3-top w3-padding w3-white w3-card">
  <div class="w3-bar w3-border w3-round-large" (click)="null">
    <div class="text-place w3-bar-item">Tulis & Kirim Info</div>
    <div class="w3-bar-item w3-right"> <i class="fa fa-pencil"></i></div>
  </div>
</div>

<p>&nbsp;</p>
<br>
<div class="w3-container">

<div class="w3-border w3-round-large w3-hover-pale-blue" (click)="DetailPage()">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      <div class="font-time">
        Posted : {{now | date : "dd.MM.y H:m" }}
      </div>
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>
<div class="w3-border w3-round-large w3-hover-pale-blue" onclick="console.log('open')">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>

<div class="w3-border w3-round-large w3-hover-pale-blue" (click)="DetailPage()">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      <div class="font-time">
        Posted : {{now | date : "dd.MM.y H:m" }}
      </div>
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>
<div class="w3-border w3-round-large w3-hover-pale-blue" onclick="console.log('open')">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>

<div class="w3-border w3-round-large w3-hover-pale-blue" (click)="DetailPage()">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      <div class="font-time">
        Posted : {{now | date : "dd.MM.y H:m" }}
      </div>
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>
<div class="w3-border w3-round-large w3-hover-pale-blue" onclick="console.log('open')">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>

<div class="w3-border w3-round-large w3-hover-pale-blue" (click)="DetailPage()">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      <div class="font-time">
        Posted : {{now | date : "dd.MM.y H:m" }}
      </div>
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>
<div class="w3-border w3-round-large w3-hover-pale-blue" onclick="console.log('open')">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>

<div class="w3-border w3-round-large w3-hover-pale-blue" (click)="DetailPage()">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      <div class="font-time">
        Posted : {{now | date : "dd.MM.y H:m" }}
      </div>
      <hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>
<div class="w3-border w3-round-large w3-hover-pale-blue" onclick="console.log('open')">
<!-- <div class="w3-card w3-round-large"> -->
  <!-- content   -->
  <div class="w3-row">
    <div class="w3-col s6 l6">
      <img src="https://icon-library.net/images/icon-car-png/icon-car-png-23.jpg" class="w3-padding img-responsive" alt="Alps">
    </div>
    <div class="w3-col s6 l6 w3-padding-small">
      <h2>Title Post</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
    </div>
  </div>
</div>
<br>

</div>
